body {
  font-family: "Lucida Console", Monaco, monospace;

}

#header h1 {
  text-shadow: 2px 2px 8px deepskyblue;
  text-transform: uppercase;
}

table {
  padding: 20px;
  border: 5px dashed deepskyblue;
}

#footer footer {
  margin: 20px 20px 20px 20px;
  text-align: center;
  border: 5px solid green;
  width: 10%;
}

#background-image {
  background-image: url("http://eskipaper.com/images/water-background-21.jpg");
  font-family: "Century Gothic", sans-serif;
  font-size: 200%;
}

a:link {
  color: blue;
}

a:visited {
  color:purple;
}

.italic {
  font-style: italic;
}